<%- include ("partials/header") %>

<h1 style="color: red; text-align: center;">EROR 404: Ton chemin perdu tu sembles avoir, là-haut regarder tu dois</h1>

<img src="/images/yoda404.jpeg" style="position: relative;left: 37%;">


<%- include("partials/footer") %>